<!-- add admin start -->
<div class="add-something mb-30">
    <form action="" class="user-form">
        <div class="row ">
            <div class="col-md-10">
                <div class="row">
                <div class="col-md-4 user-input-wrapper input-group">
                    <input class="form-control user-input" placeholder="الاسم">
                </div>
            
                <div class="col-md-4 user-input-wrapper input-group">
                    <input class="form-control user-input" type="email" placeholder="البريد الالكتروني">
                </div>
                
                <div class="col-md-4 user-input-wrapper input-group">
                    <input class="form-control user-input" type="password" placeholder="كلمة السر">
                </div>
            </div>
        </div>
    
            <div class="col-md-2 text-center user-input-add">
                <div class="add">
                    <span>+</span>
                     <p *ngIf="admin" class="d-inline-block">اضافة أدمن</p>
                     <p *ngIf="!admin" class="d-inline-block">اضافة عضو</p>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- add admin end -->

<!-- it will be repeated -->
<div class="user-wrapper custom-shadow row text-center pv-20 mb-40">
    
    <div class="col-md-3">
        <p>الاسم</p>
        <p>محمود علي</p>
    </div>
    <div class="col-md-4">
        <p>البريد الالكتروني</p>
        <p>karim@gmail.com</p>
    </div>

    <div *ngIf="admin" class="col-md-2">
        <p>كلمة السر</p>
        <p> 
            <span class="dots"> . </span>
            <span class="dots"> . </span>
            <span class="dots"> . </span>
            <span class="dots"> . </span>
            
            <i (click)="viewPassword = true" *ngIf="!viewPassword" class="fas fa-eye"></i>
            <i (click)="viewPassword = false" *ngIf="viewPassword" class="fas fa-eye-slash"></i>
        </p>
    </div>

    <div *ngIf="!admin" class="col-md-2">
        <p>تاريخ التسجيل</p>
        <p>2/2/2020</p>
    </div>


    <div *ngIf="admin" class="col-md-2 text-left mt-10">
        <i class="fas fa-cog"></i>
    </div>
    
    
    <div *ngIf="!admin" class="col-md-2 text-left mt-20">
        <div class="stars-wrapper d-inline-block text-left">
            <div class="d-inline fill-starts">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>

            <div class="d-inline un-fill-starts">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>
    </div>

    <div class="col-md-1 mt-10">
        <i class="fas fa-trash-alt"></i>
    </div>
</div>
