@import "variables";
.category{
    color: $secondColor;
    .cat-name{
        font-size: 1.6rem;
    }

    .cat-branch{
        font-weight: bold;
        color: $mainColor;
        font-size: 1.4rem;
    }
}

.fa-star{
    font-size: .8rem;
}

.client{
    padding: 0;
}

.fa-comment-alt{
    color: #000;
    font-size: 1rem;
    transition: $mainTransition;
    &:hover{
        color: $mainColor;
    }
}

.left-img{
    height: 90px;
    box-shadow: none;
    border-radius: 0;
}

.fa-toggle-on{
    color: #fff;
    color: $mainColor;
    font-size: 1.4rem;
    text-align: left;
}