<div class="main-search">
    <form action="">
      <input (keyup)="filter($event.target.value)" type="search" name="" id="" placeholder="بحث">
      <input class="btn-search" type="submit" value="بحث">
    </form>
</div>
  

<!-- it will be repeated -->
<section *ngIf="!isLoading">
    <div *ngFor="let client of filteredClients" class="user-wrapper custom-shadow row text-center pv-20 mb-40">
        <div class="col-md-7">
            <div class="row">
                <!-- <div class="col-md-2"> -->
                    <!-- <img class="img-fluid circle img-small" src="assets/images/karim.jpg" alt=""> -->
                <!-- </div> -->
    
                <div class="col-md">
                    <p>الاسم</p>
                    <button class="name btn details">{{client.name}} </button>
                </div>
    
                <div class="col-md small">
                    <p>عدد الإعلانات</p>
                    <button class="btn btn-primary details">{{client.all_orders_count}}</button>
                </div>
               
                <div class="col-md small">
                    <p>عدد الطلبات</p>
                    <button class="btn btn-primary details">{{client.all_posts_count}}</button>
                </div>
                
                <div class="col-md small">
                    <p>الرسائل</p>
                    <a [routerLink]="['/messages', client.id, client.name]" class="btn btn-primary details">10</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-5 row no-gutters">
            <div class="col-md-4 small">
                <p>التقييم</p>
                <button class="btn">
                    <div class="d-inline fill-starts">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
    
                    <div class="d-inline un-fill-starts">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
    
                </button>
            </div>
        
            <div class="col-md-7">
                <p>تاريخ التسجيل</p>
                <button class="btn details date">{{client.created_at | date}}</button>
            </div>
            
            <div class="col-md-1 text-left">
                    <i class="fas fa-trash-alt"></i>            
            </div>
        </div>
    </div>    
</section>

<div class="mt-100 d-flex justify-content-center" >
    <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>