<!-- 
<div class="header">
    <h3 class="header col">الاسم</h3>
    <h3 class="header col">عدد الاعلانات </h3>
    <h3 class="header col">عدد الطلبات</h3>
    <h3 class="header col">الرسائل</h3>
    <h3 class="header col">التقييم</h3>
    <h3 class="header col">تاريخ التسجيل</h3>
</div> -->



<div class="main-search">
    <form action="">
      <input (keyup)="filter($event.target.value)" type="search" name="" id="" placeholder="بحث">
      <input class="btn-search" type="submit" value="بحث">
    </form>
</div>
  
<div *ngIf="!isLoading">
    <section *ngFor="let client of filteredClients" class="mb-80 client-wrapper">

        

        <div class="user-header text-center row no-gutters">
            <h3 class="header mb-0  col-md-2 ">الاسم</h3>
            <h3 class="header mb-0 col-md-2">البريد الالكتروني </h3>
            <h3 class="header mb-0 col-md-2">الهاتف </h3>
            <h3 class="header mb-0 col-md-1">عدد الاعلانات </h3>
            <h3 class="header mb-0 col-md-2">عدد الطلبات</h3>
            <h3 class="header mb-0 col-md-1">الرسائل</h3>
            <!-- <h3 class="header mb-0 col-md-2">التقييم</h3> -->
            <h3 class="header mb-0 col-md-2 pl-50">تاريخ التسجيل</h3>
        </div>
        
        <div class="details row no-gutters text-center">
            <h4 class="col-md-2 mb-0  "> 
                <span class="item font-weight-lighter p-0">{{client.name}}</span>
                <h6 class="mb-0">
                
                <button (click)="showRate(client.id)" class="btn">
                    <div *ngIf="client?.rate" class="d-inline fill-starts">
                        <i *ngFor="let rate of client.rate" class="fas fa-star"></i>
                    </div>
            
                    <div *ngIf="client?.emptyRate" class="d-inline un-fill-starts">
                        <i *ngFor="let emptyRate of client.emptyRate" class="fas fa-star"></i>
                    </div>
                </button>
                
                </h6>
            </h4>
            <h3 class="col-md-2 mb-0 "> <span class="item email font-weight-lighter p-0">{{client.email}}</span> </h3>
            <h3 class="col-md-2 mb-0 "> <span class="item font-weight-lighter p-0">{{client.phone}}</span> </h3>
            <a [routerLink]="['/owner_orders', client.id, client.name]"  class="col-md-1 mb-0 text-center"> <span class="item click  ">{{client.all_posts_count}} </span> </a>
            <a [routerLink]="['/clients_orders', client.id, client.name]" class="col-md-2 mb-0 text-center"> <span class="item click  ">{{client.all_orders_count}}</span> </a>
            <a [routerLink]="['/messages', client.id, client.name]" class="col-md-1 mb-0 text-center"> <span class="item click  ">{{client?.chats_count}}</span> </a>
            
            <h4 class="col-md-2 text-center mb-0 pl-50"> <span class="item date">{{client.created_at | date}}</span> </h4>
            
            <button (click)="deleteUserAlert(client.id)" class="btn delete">
                <i class="fas fa-trash-alt"></i> 
            </button>
        </div>    
    </section>
</div>

<div class="mt-100 d-flex justify-content-center" >
    <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>