
<section *ngIf="post" class="main-shadow post-wrapper mb-70">
    <!-- <div class="user d-flex justify-content-center">
        <i class="rounded-circle ml-10 far fa-user p-10"></i>
        <div class="data m-0">
            <h2 class="m-0 p-0">{{post?.name}}</h2>
            <h3 class="m-0">{{post?.map}}</h3>
        </div>
    </div> -->


    <button (click) ="deleteAlert(post.id)" class="btn delete" [ngClass]="{'z-none': zIndexNone}">
        <i class="fas fa-trash-alt"></i> 
    </button>

    <mat-slide-toggle *ngIf="wattingOrders" (change)="acceptPost(post.id)">
        قبول الطلب
    </mat-slide-toggle>

    <div class="text-right post-data row pt-60 pb-20">
        <div class="col-md-6 text-right pr-40 d-flex">
            <div class="img-wrapper">
                <img (click)="open(post?.post_imgs)" class="hover img-fluid post-img left-img" [src]="'http://rentage.clicktopass.com/public/posts/' + post.post_imgs[0]?.name" alt="">
            
                <div (click)="showRate(post.id)" *ngIf="post?.post_status==1" class="d-block btn">
                    <div *ngIf="post?.rate" class="d-inline fill-starts">
                        <i *ngFor="let rate of post.rate" class="fas fa-star"></i>
                    </div>
            
                    <div *ngIf="post?.emptyRate" class="d-inline un-fill-starts">
                        <i *ngFor="let emptyRate of post.emptyRate" class="fas fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="overflow-hidden">
                <h3 class="text-center pl-0 pr-30 font-weight-normal">{{post?.name}}</h3>
                <h5 class="text-right pr-30 font-weight-normal">{{post?.des}}</h5>
            </div>
        </div>
     

        <div class="col-md-3 text-right pr-70">
            <h3 class="second-title m-0 pb-10">السعر :  <span class="red-color">{{post?.price}}</span></h3>
            <h3 class="second-title m-0 pb-10">الكمية  :  <span> {{post?.count}}</span></h3>
            <h3 class="second-title m-0 pb-10">الموقع :  <span class="red-color">{{post.map}}</span></h3>
            <h3 class="second-title m-0 pb-10">التأمين  :  <span>{{post?.insurance_amount}}</span></h3>
        </div>
        
        <div class="col-md-3 text-right">
            <h3 class="second-title date m-0 pb-10 text-success"><i class="fas fa-calendar-alt"></i>  متاح من تاريخ :  <span class="date text-success">{{post?.start_date}}</span></h3>
            <h3 class="second-title date m-0 pb-10 red-color "> <i class="fas fa-calendar-alt"></i> متاح حتى تاريخ:  <span class="date red-color">{{post?.end_date}}</span></h3>
            <h4 *ngIf="post.delivery == 1" class="second-title m-0 pb-10">طريقة الاستلام: <span>توصيل</span></h4>
            <h4 *ngIf="post.delivery == 0" class="second-title m-0 pb-10">طريقة الاستلام: <span>من التاجر</span></h4>
            <h3 *ngIf="post.status == 1" class="second-title m-0 pb-10">الحالة :  <span>مستعملة</span></h3>
            <h3 *ngIf="post.status == 0" class="second-title m-0 pb-10">الحالة :  <span>جديدة</span></h3>
        </div>
    </div>
</section>

<!-- <div *ngIf="post" class="text-right order-wrapper custom-shadow m-20 p-20 mb-20" >
    <div class="row client pr-20 general-look">
        <img class="small-img" src="assets/images/user.png" alt="">
 
        <div class="col-md-9 row right-wrapper">
            <mat-slide-toggle *ngIf="wattingOrders" (change)="acceptPost(post.id)">
                قبول الطلب
            </mat-slide-toggle>

            <div class="col mb-20">
                <p class="name">{{post?.name}}</p>
                <div class="w-100"></div>
                <span class="place">{{post?.city}}</span>
            </div>
            <div class="w-100"></div>

            <div class="product-details col-md-5">
                <div class="row">
                    <p class="col-6 product-name"> {{post?.name}}</p>
                    <p class="col-6">السعر: <span>{{post?.price}}</span></p>
                </div>
               
                <div class="details">
                    <span> {{post?.desc}}</span>
                </div>

                <p class="pt-30">الكمية: <span>{{post?.count}} قطع</span></p>
            </div>

            <div class="col-md-3">
                <p class="pb-10">رقم الطلب :  <span>10</span></p>
                <p class="pb-10">الحالة :  <span> جديدة</span></p>
                <p class="pb-10">التأمين :  <span>{{post?.insurance_amount}}</span></p>
            </div>

            <div class="col-md-4">
                <p class="pb-10"> طريقة التسليم :   <span>من التاجر</span></p>
                <p class="pb-10">التواريخ المتاحة </p>
                <p class="pb-10">من  :  <span>{{post?.start_date}}</span> إلى <span>{{post?.end_date}}</span></p>
            </div>
         </div>

         <div class="col-md-3 row">        
            <div (click)="open(post?.post_imgs)" class="col-md-10 hover left-img" [style.background] ="'url(' + 'http://rentage.clicktopass.com/public/posts/' + post.post_imgs[0]?.name + ')'" >
            </div>

            <div class="col-md-2">
                <i (click) ="deleteAlert(post.id)" class="fas fa-trash-alt"></i>
            </div>
         </div>
    </div>
</div> -->