<div *ngIf="post" class="text-right order-wrapper custom-shadow m-20 p-20 mb-20" >
    <div class="row client pr-20 general-look">
        <img class="small-img" src="assets/images/user.png" alt="">
 
        <div class="col-md-9 row right-wrapper">
            <!-- <div class="toggle custom-control custom-switch">
                <input (change)="log(post.id)" [name]="post.id" type="checkbox" class="custom-control-input" >
                <label class="custom-control-label" for="customSwitch1"></label>
            </div> -->

            
            <!-- <mat-slide-toggle (change)="log(post.id)"></mat-slide-toggle> -->
            <mat-slide-toggle *ngIf="wattingOrders" (change)="acceptPost(post.id)">
          قبول الطلب
        </mat-slide-toggle>

            <div class="col mb-20">
                <p class="name">{{post?.name}}</p>
                <div class="w-100"></div>
                <span class="place">{{post?.city}}</span>
            </div>
            <div class="w-100"></div>

            <div class="product-details col-md-5">
                <div class="row">
                    <p class="col-6 product-name"> {{post?.name}}</p>
                    <p class="col-6">السعر: <span>{{post?.price}}</span></p>
                </div>
               
                <div class="details">
                    <span> {{post?.desc}}</span>
                </div>

                <p class="pt-30">الكمية: <span>{{post?.count}} قطع</span></p>
            </div>

            <div class="col-md-3">
                <p class="pb-10">رقم الطلب :  <span>10</span></p>
                <p class="pb-10">الحالة :  <span> جديدة</span></p>
                <p class="pb-10">التأمين :  <span>{{post?.insurance_amount}}</span></p>
            </div>

            <div class="col-md-4">
                <p class="pb-10"> طريقة التسليم :   <span>من التاجر</span></p>
                <p class="pb-10">التواريخ المتاحة </p>
                <p class="pb-10">من  :  <span>{{post?.start_date}}</span> إلى <span>{{post?.end_date}}</span></p>
            </div>
         </div>

         <div class="col-md-3 row">        
            <div (click)="open(post?.post_imgs)" class="col-md-10 hover left-img" [style.background] ="'url(' + 'http://rentage.clicktopass.com/public/posts/' + post.post_imgs[0]?.name + ')'" >
                <!-- <img class="img-fluid left-img" src="assets/images/karim.jpg" alt=""> -->
            </div>

            <div class="col-md-2">
                <i (click) ="deleteAlert(post.id)" class="fas fa-trash-alt"></i>
            </div>
         </div>
    </div>
</div>