<div class="widget-wrapper">
    <h4 class="text-center title mb-30">{{title}}</h4>

    <div class="subtitle mb-20">
        <p class="text-right">الاعلانات</p>
        <div class="progress"><div class="progress-bar" style="width: 25%"></div></div>
    </div>

    
    <div class=" subtitle mb-20">
        <p class="text-right">الطلبات</p>
        <div class="progress"><div class="progress-bar" style="width: 25%"></div></div>
    </div>

    <div class=" subtitle mb-20">
        <p class="text-right">أداء الشهر</p>
        <div class="progress"><div class="progress-bar" style="width: 25%"></div></div>
    </div>

</div>