.user-img{
    width: 50px !important;
    height: 50px !important;
}

.main-wrapper{
    position: relative;

    .loading{
        position: absolute;
        z-index: 1000;
        top: 40%;
        right: 40%;
        // transform: translate(-50% 50%);
    }
}