<div class="specific-message custom-shadow mr-30">
    <div class="users-wrapper">
        <div class="p-20 user specific-user row no-gutters">
            <div class="col text-right">
                <img class="user-img" src="assets/images/user.png" alt="">

                <span class="user-name mr-10"> {{firstUserName}} </span>
            </div>

            
            <svg class="mr-auto dots" height="22px" width="22px" viewBox="0 0 36 36">
                <g id="dots-3-horizontal" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                <g id="Page-1" fill="#000000">
                    <path id="Fill-1" d="M7,18 C7,16.4815417 8.23154167,15.25 9.75,15.25 C11.2684583,15.25 12.5,16.4815417 12.5,18 C12.5,19.5189167 11.2684583,20.75 9.75,20.75 C8.23154167,20.75 7,19.5189167 7,18 Z M15.25,18 C15.25,16.4815417 16.4815417,15.25 18,15.25 C19.5184583,15.25 20.75,16.4815417 20.75,18 C20.75,19.5189167 19.5184583,20.75 18,20.75 C16.4815417,20.75 15.25,19.5189167 15.25,18 Z M23.5,18 C23.5,16.4815417 24.7315417,15.25 26.25,15.25 C27.7684583,15.25 29,16.4815417 29,18 C29,19.5189167 27.7684583,20.75 26.25,20.75 C24.7315417,20.75 23.5,19.5189167 23.5,18 Z">

                </path></g></g>
            </svg>
            
        </div>
    </div>


    <div class="main-wrapper pt-30 ph-20 messages-section-small">        
        
        <div *ngIf="isLoading" class="loading" >
            <mat-spinner></mat-spinner>
        </div>

        <div *ngFor="let message of chatData" class="messages-wrapper mr-20 no-gutters">
            <div *ngIf="message.sender_id == firstUserId" class="outcomming-message-wrapper">
                <!-- <div class="ml-10 img-wrapper"> -->
                    <!-- <img class=" user-img" src="assets/images/karim.jpg" alt=""> -->
                    <h2 class="name user-img mb-0 pb-0">{{firstUserName}}</h2>
                <!-- </div> -->

                    <div class="outcomming-message">
                        <span class=""> {{message.body}}</span>
                    </div>
                

                    <small class="time">
                        {{message.created_at | date }}
                    </small>
            </div>
            <div class="w-100"></div>


            <div *ngIf="message.sender_id != firstUserId" class="incomming-message-wrapper">
                <div class="rigth">
                    <h2 class="mb-0 name text-left w-100 user-img">{{secondUserName}}</h2>

                    <div class="incomming-message">
                        <span class=""> {{message.body}}</span>                        
                    </div>   

                    <small class="w-100 d-block text-left time">
                        {{message.created_at | date }}
                     </small>
                </div>
              
                <!-- <div class="mr-10 img-wrapper"> -->
                    <!-- <img class="user-img" src="assets/images/karim.jpg" alt=""> -->
                <!-- </div> -->
            </div>
            <div class="w-100"></div>
        </div>      
    </div>
</div>