<section class="client-wrapper">
    <div class="user-header text-center row no-gutters">
        <!-- <h3 class="header mb-0 text-right col-md-3 pr-50">الاسم</h3> -->
        <h3 class="header mb-0 col-md-9 pr-30"> التقييم </h3>
        <h3 class="header mb-0 col-md-3">اجمالي التقييمات</h3>
    </div>

    <div class="details row no-gutters text-center align-items-start">
        <div class="rate-wrapper col-md-9 pr-30 mt-10">
            <div *ngFor="let rate of rates" class="main-shadow spcific-rate row no-gutters align-items-center ph-10">
                <h4 class="text-right col-md-4 mb-0 text-right"> <span class="item p-0">{{rate.user_data.name}}</span>
                </h4>

                <h4 class="text-right col-md-4 mb-0 text-center"> <span class="item p-0">{{rate.body}}</span> </h4>
                <h4 class="col-md-4 mb-0 text-left">

                    <button class="btn">
                        <div class="d-inline fill-starts">
                            <i *ngFor="let r of rate.rate" class="fas fa-star"></i>
                        </div>

                        <div class="d-inline un-fill-starts">
                            <i *ngFor="let empty of rate.emptyRate" class="fas fa-star"></i>
                        </div>
                    </button>
                </h4>
            </div>
        </div>

        <h4 class="col-md-3 mb-0 text-center">
            <span class="m-auto d-flex justify-content-center user">
                <div class="number"> {{total}} </div>
            </span>

            <span class="d-block item p-0">
                <button class="btn">
                    <div class="d-inline fill-starts">
                        <i *ngFor="let start of averageArray" class="fas fa-star"></i>
                    </div>

                    <div class="d-inline un-fill-starts">
                        <i *ngFor="let start of emptyAverageArray" class="fas fa-star"></i>
                    </div>
                </button>
            </span>
        </h4>
    </div>
</section>