<h1 class="text-right name mb-40"> الطلبات المرسلة إلى <mark> {{userName}}</mark> </h1>

<div *ngIf="isLoading" class="mt-100 d-flex justify-content-center" >
    <mat-spinner></mat-spinner>
</div>
  
<div *ngIf="!isLoading" class="">
    <section  *ngFor="let post of posts" class="main-shadow post-wrapper mb-70">
        <div *ngIf="post.user_data" class="user d-flex justify-content-center">
            <i class="rounded-circle ml-10 far fa-user p-10"></i>
            <div class="data m-0">
                <h2 class="m-0 p-0"> {{post.user_data.name}}</h2>
                <h3 class="m-0">{{post.user_data.email}}</h3>
                <h3 class="m-0"> {{post.user_data.phone}}</h3>
            </div>
        </div>
    
        <button  class="btn delete">
            <i class="fas fa-trash-alt"></i>
        </button>
    
        <div class="text-right post-data row pt-60 pb-20">
            <div class="col-md-4 text-right pr-40 d-flex">
                <div class="img-wrapper">
                    <img class="hover img-fluid post-img left-img" src="assets/images/karim.jpg" alt="">
                
                    <button class="d-block btn">
                        <div class="d-inline fill-starts">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                
                        <div class="d-inline un-fill-starts">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </button>
                </div>
    
                <h3 class="overflow-hidden text-center pr-30 font-weight-normal">{{post?.post_data?.name}}</h3>
            </div>
            <div class="col-md-3 text-right pr-80">
                <h3 class="second-title m-0 pb-10">السعر :  <span class="red-color">{{post?.price}}</span></h3>
                <h3 class="second-title m-0 pb-10">الكمية  :  <span> {{post?.count}}</span></h3>
                <h3 class="second-title m-0 pb-10">الحالة :  <span>مستعملة</span></h3>
               
              
            </div>
            <div class="col-md-2 text-right">
                <h3 class="second-title m-0 pb-10">التأمين :  <span class="red-color">15</span></h3>
                <h3 class="second-title m-0 pb-10">الموقع :  <span>مستعملة</span></h3>
            </div>
    
            <div class="col-md-3 text-right">
                <h3 class="second-title date m-0 pb-10 text-success"><i class="fas fa-calendar-alt"></i>  تاريخ بدء الحجز :  <span class="date text-success">{{post.start}}</span></h3>
                <h3 class="second-title date m-0 pb-10 red-color "> <i class="fas fa-calendar-alt"></i> تاريخ انتهاء الحجز :  <span class="date red-color">{{post.end}}</span></h3>
                
                <h3 *ngIf="post?.status === 0" class="second-title date m-0 pb-10"> <i class="hidden fas fa-calendar-alt"></i> حالة الطلب :  <span class="text-success date">في انتظار القبول</span></h3>
                <h3 *ngIf="post?.status === 1" class="second-title date m-0 pb-10"> <i class="hidden fas fa-calendar-alt"></i> حالة الطلب :  <span class="text-success date">تم قبول الطلب</span></h3>
            </div>
        </div>
    </section>
</div>


