@import "variables";
.stars-wrapper{
    font-size: .9rem;
}

.shipping-details-wrapper{
    p{
        padding: 0;
        margin: 0;
        font-size: 1.2rem;
        color: $thirdColor
    }
    padding: 15px;
    background-color: #fff;
    border-radius: 20px;
}

.left-img{
    height:100%;
}

.date{
    color: $thirdColor ;
}