<!-- add category start -->
<div class=" add-something mb-30">
    <form action="" class="user-form">
        <div class="row ">
            <div class="col-md-2 text-center user-input-add mb-20">
                <div class="add">
                    <span>+</span>
                        <p class="d-inline-block">اضافة قسم</p>
                </div>
            </div>
            <div class="w-100"></div>

            <div class="col-md-5 user-input-wrapper input-group pl-0">
                <input class="form-control user-input" placeholder="اسم القسم">
            </div>
        
            <div class="col-md-3 user-input-wrapper file-wrapper">
                <input type="file" class="ml-10 form-control user-input" />
                <label for="f02">تحميل صورة</label>
            </div>
        </div>
    </form>
</div>

<!-- add category end -->
