@import "variables";

.main-wrapper{
    // background-color: rgb(250,251,254);
}

.widget{
    //  height: $widgetHeight;
    //  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    //  background-color: #E5F0FF;
    //  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
     
    .right-widget-wrapper{
        height: 100%;
        // background: $itemBackground;
        padding: 15px;
        max-height: 100%;
    }

    .chart-wrapper{
        height: $widgetHeight;
        max-height: $widgetHeight;
        // background: $itemBackground;
        overflow: hidden;
    }
}

h2{
    font-size: 1.6rem;
    padding: 0 30px
}