$secondColor: #2D2D2D;
$mainColor: #F1d90f;
$thirdColor: #8e8f8c;
$itemBackground: #f8f8f8;
$navHeight: 300px;
$widgetHeight: 300px;
$specificUserHeight: 65px; // for chat 
$lightBorder: #e5e5e5; //#F3F6F7;

// transitions
$mainTransition: all .5s ;
